<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Информация за вас </mat-panel-title>
      <mat-panel-description>
        Казвам се Стефко Цоньовски
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Аз съм 2ри курс студент В ПУ, специалност Софтуерно инженерство и година и
      половина работя като софтуерен инженер, специализиран във Front-End
      разработката. Има предимно опит с React, React Native и от няколко месеца
      с Angular. Също имам опит с .NET Back-End разработка
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Хобита и интереси </mat-panel-title>
      <mat-panel-description>
        Тенис, футбол, програмиране
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Играя тенис от 7 години и преди това съм тренирал футбол 8 години.
      Занимавам се с програмиране вече четвърта година
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Link към канал на любим content creator
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a href="https://nodejs.org/en/" target="_blank">Link</a>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Информация за вашия канал </mat-panel-title>
      <mat-panel-description>
        Канал за Software Engineering
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Ще качвам видеа на различни теми, свързани със софтуерното инженерство
      като Back-End, Front-End, mobile разработка
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Примерно остойностяване </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Subscriptions and Ads</p>
  </mat-expansion-panel>
</mat-accordion>
